In [11]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import astropy as ap

In [ ]:
Harris_i = pd.read_csv('HarrisPartI.csv', delimiter = ',')
Harris_iii = pd.read_csv('HarrisPartIII.csv', delimiter = ',')
VandenBerg = pd.read_csv('vandenBerg_table2.csv', delimiter = ',')
Krause21 = pd.read_csv('Krause21.csv', delimiter = ',')

   Class       Object     AltName  Mstar     rh     C5    Age   FeH
0     GC       NGC104       47Tuc   6.46   7.10  0.920  12.80 -0.76
1     GC       NGC288    Melotte3   0.46   9.80  0.050  12.20 -1.32
2     GC       NGC362    Dunlop62   2.50   3.50  0.720  10.00 -1.26
3     GC      NGC1261  Caldwell87   3.41   5.50  0.620  10.24 -1.08
4     GC      NGC1851   Dunlop508   5.51   3.05  1.810   7.64 -1.13
..   ...          ...         ...    ...    ...    ...    ...   ...
56    GC      NGC7089          M2   5.75   6.03  0.950  11.80 -1.31
57    GC      NGC7099         M30   1.45   4.10  0.350  14.60 -2.33
58    GC  Ruprecht106        NONE   0.68  11.00  0.060  12.00 -1.50
59    GC      Terzan7        NONE   0.39   8.70  0.040   7.40 -0.12
60    GC    Palomar12        NONE   0.28  16.00  0.024   8.60 -0.81

[61 rows x 8 columns]