In [15]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import astropy as ap

In [16]:
Harris_i = pd.read_csv('Data_Folder/HarrisPartI.csv', delimiter = ',')
Harris_iii = pd.read_csv('Data_Folder/HarrisPartIII.csv', delimiter = ',')
VandenBerg = pd.read_csv('Data_Folder/vandenBerg_table2.csv', delimiter = ',')
Krause21 = pd.read_csv('Data_Folder/Krause21.csv', delimiter = ',')

## Checking Catalogue Completeness

In [17]:
Harris_i['ID'], Harris_iii['ID'] 

Harris_i_iii_IDcombo = pd.DataFrame([Harris_i['ID'], Harris_iii['ID']])
Harris_i_iii_IDcombo.T

#Checking catalogued galaxies from Harris i and iii -> They are the same

            ID         ID
0      NGC 104    NGC 104
1      NGC 288    NGC 288
2      NGC 362    NGC 362
3    Whiting 1  Whiting 1
4     NGC 1261   NGC 1261
..         ...        ...
152   NGC 7089   NGC 7089
153   NGC 7099   NGC 7099
154     Pal 12     Pal 12
155     Pal 13     Pal 13
156   NGC 7492   NGC 7492

[157 rows x 2 columns]

In [18]:
Harris_i_Krause_IDcombo = pd.DataFrame([Harris_i['ID'], Krause21['Object']])
Harris_i_Krause_IDcombo.T
#Checking catalogued galaxies from Harris 1 and Krause -> Not the same, Krause much less complete

            ID   Object
0      NGC 104   NGC104
1      NGC 288   NGC288
2      NGC 362   NGC362
3    Whiting 1  NGC1261
4     NGC 1261  NGC1851
..         ...      ...
152   NGC 7089      NaN
153   NGC 7099      NaN
154     Pal 12      NaN
155     Pal 13      NaN
156   NGC 7492      NaN

[157 rows x 2 columns]

In [ ]:
Harris_i_vandenBerg_IDcombo = pd.DataFrame([Harris_i['ID'] ,VandenBerg['#NGC']])
Harris_i_vandenBerg_IDcombo.T
#Checking catalogued galaxies from Harris 1 and vandenBerg -> Not the same, VandenBerg less complete

            ID  #NGC
0      NGC 104   104
1      NGC 288   288
2      NGC 362   362
3    Whiting 1  1261
4     NGC 1261  1851
..         ...   ...
152   NGC 7089   NaN
153   NGC 7099   NaN
154     Pal 12   NaN
155     Pal 13   NaN
156   NGC 7492   NaN

[157 rows x 2 columns]

In [ ]:
Krause_VandenBerg_IDcombo = pd.DataFrame([VandenBerg['#NGC'], Krause21['Object']])
Krause_VandenBerg_IDcombo.T
#Checking catalogued galaxies of krause and vandenberg -> seem aligned but vandenberg is shorter, and has different notation

    #NGC       Object
0    104       NGC104
1    288       NGC288
2    362       NGC362
3   1261      NGC1261
4   1851      NGC1851
..   ...          ...
56   NaN      NGC7089
57   NaN      NGC7099
58   NaN  Ruprecht106
59   NaN      Terzan7
60   NaN    Palomar12

[61 rows x 2 columns]

# Results of data checking
Harris i and iii are aligned, and krause/vandenberg are aligned. Use vandenberg+krause together and both harris dataframes together when multiple needed if you can get away with it for ease of use.